<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>WISR.AI</title>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

</head>

<body>


    <div class="wrapper">

        <nav id="sidebar">

            <div class="sidebar-header">
                <a href={{url_for("index") }}>
                    <h2>WISR.AI</h2>
                </a>
            </div>
            <ul class="list-unstyled components">


                <li>
                    <a href={{url_for("index") }}>Cyber Breach Probability</a>
                </li>

                <li>
                    <a href="#">Trending Exploits</a>
                </li>

                <li>
                    <a href="#">Base Org Risk</a>
                </li>

                <li>
                    <a href="#">Master Risk Score</a>
                </li>

                <li>
                    <a href="#">Dark Web Risk</a>
                </li>

                <li>
                    <a href="/scorehistory">Vendor Risk Scores</a>
                </li>

                <li>
                    <a href="/companydetails">Company Details</a>
                </li>

                <li>
                    <a href="#">Help</a>
                </li>
                <li>
                    <a href="/all_company_scores">All Company Scores</a>
                </li>

            </ul>
        </nav>


        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid">

                    <h2>CYBER RISK INSIGHTS ENGINE</h2>
                    <button class="btn  btn-info " id="sidebarCollapse" type="button">

                        <span>Toggle Sidebar</span>

                    </button>
                </div>
            </nav>


            <br>
            <br>

            <div class="container-fluid allDiv ">

                <h3>Cyber Breach Insights</h3>
                <br>

                <h4>Predicted Breach Risk Overview</h4>
                <br>

                <p>
                    The Wisr Cyber Risk Analysis system uses our artificial intelligence platform to predict the overall
                    cyber risk faced by an organization.
                </p>
                <br>
                <form action="/" method="POST">
                    <div class="form-group">

                        <div class="row g-3 align-items-center">

                            <div class="col-auto">
                                <label class="col-form-label" for="hostname">Enter your Domain:</label>
                            </div>

                            <div class="col-sm-3">
                                <input aria-describedby="passwordHelpInline" class="form-control" id="hostname"
                                    name="hostname" type="text" required>
                            </div>

                            <div class="col-auto">
                                <label class="col-form-label" for="company">Enter your Company Name:</label>
                            </div>

                            <div class="col-sm-3">
                                <input aria-describedby="passwordHelpInline" class="form-control" id="company"
                                    name="company" type="text" required>
                            </div>



                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Go!</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% if data and not data['success'] %}
                {% if data['status'] == 404 %}
                <h5 class="card-header alert alert-danger">Hostname '{{data['features']['hostname']}}' not found!</h5>
                {% elif data['status'] == 403 %}
                <h5 class="card-header alert alert-danger">Subscription limit reached!</h5>
                {% endif %}
                {% endif %}

            </div>

            <br>

            {% if data and data['success'] %}
            <div class="container-fluid allDiv">
                <h4><b>Cyber Risk Exposure</b></h4>
                <br>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-2">
                        <h5 class="scoreHeaderText2">Total Inherent Risk</h5>
                        <br>
                        <p>The total cyber risk across your enterprise and all of your 3rd party vendors and partners
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div class="skill">
                            <div class="outer">
                                <div class="inner">
                                    {%if data['overall_score'] >= 7.0%}
                                    <div id="number1" class="numberred">
                                        {{data['overall_score']}}
                                    </div>
                                    {%elif data['overall_score'] > 4.0 and data['overall_score'] <= 7.0%} <div
                                        id="number1" class="numberorange">
                                        {{data['overall_score']}}
                                </div>
                                {%else%}
                                <div id="number1" class="numbergreen">
                                    {{data['overall_score']}}
                                </div>
                                {%endif%}
                            </div>
                        </div>

                        <svg height="160px" width="160px" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="GradientColor">
                                    <stop offset="0%" stop-color="#e91e63" />
                                    <stop offset="100%" stop-color="#673ab7" />
                                </linearGradient>
                            </defs>
                            {%if data['overall_score'] >= 7.0%}
                            <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round" stroke="red"
                                class="animation2" />
                            {%elif data['overall_score'] > 4.0 and data['overall_score']
                            <= 7.0%} <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round"
                                stroke="rgb(243, 188, 85)" class="animation2" />
                            {%else%}
                            <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round"
                                stroke="rgb(36, 155, 36)" class="animation2" />
                            {%endif%}
                        </svg>

                    </div>

                </div>
                <div class="col-md-2">
                    <h5 class="leftalign">90 Day History</h5>
                    <div>Graph Data Unavailable</div>
                    <p class=" graphheader">Your Risk: {{"%.2f"|format(data['overall_score'])}}</p>
                </div>
                <div class="col-md-2">
                    <h5 class="leftalign">Breach Risk</h5>
                    <div>Graph Data Unavailable</div>
                    <p class="graphheader">3rd Party Risk: {{"%.2f"|format(data['breach_risk_score']) }}</p>
                </div>
                <div class="col-md-2">
                    <h5 class="leftalign">Brand Sentiment</h5>
                    <div id="chart_div2">Graph Data Unavailable</div>
                    <p class="graphheader">Today's Risk: {{"%.2f"|format(data['bss_score'])}}</p>
                </div>
                <div class="col-md-2">
                    <h5 class="leftalign">Dark Web Risk</h5>
                    <div>Graph Data Unavailable</div>
                    <p class="graphheader">Today's Risk: {{"%.2f"|format(data['css_score'])}}</p>
                </div>

            </div>
        </div>
        <br>
        <div class="container-fluid allDiv">
            <h4><b>Cyber Breach Probability</b></h4>
            <br>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-2 col-sm-6">
                    <h5 class="scoreHeaderText2">Predicted Breach Risk</h5>
                    <br>
                    <p>This represents the similarity between your organization and our AI-based model of previously
                        breached companies.</p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="skill">
                        <div class="outer">
                            <div class="inner">
                                {% if data['predictions']['probability'] <= 0.33 %} <div id="number"
                                    class="numbergreen">
                                    {{"%.2f"|format(data['predictions']['probability'] * 10)}}
                            </div>
                            {%elif data['predictions']['probability'] > 0.33 and data['predictions']['probability']
                            <= 0.66%} <div id="number" class="numberorange">
                                {{"%.2f"|format(data['predictions']['probability'] * 10)}}
                        </div>
                        {%else%}
                        <div id="number" class="numberred">{{"%.2f"|format(data['predictions']['probability'] *10)}}
                        </div>
                        {%endif%}
                    </div>
                </div>

                <svg height="160px" width="160px" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    {% if data['predictions']['probability']
                    <= 0.33 %} <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round" stroke="green"
                        class="animation3" />
                    {%elif data['predictions']['probability'] > 0.33 and data['predictions']['probability']
                    <= 0.66 %} <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round"
                        stroke="rgb(243, 188, 85)" class="animation3" />
                    {%else%}
                    <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round" stroke="red"
                        class="animation3" />
                    {%endif%}
                </svg>

            </div>

        </div>
        <div class="col-md-2 col-sm-6">
            <h5 class="scoreHeaderText">Trust Score</h5>
            {% if data['features']['trustscore'] <= 40.0 %} <p class="critical ">
                {{data['features']['trustscore']}}</p>
                {% elif data['features']['trustscore']>= 80.0 %} <p class="safe ">
                    {{data['features']['trustscore']}}</p>
                {% else%} <p class="moderate ">
                    {{data['features']['trustscore']}}</p>
                {% endif %}

        </div>
        <div class="col-md-2 col-sm-6">
            <h5 class="scoreHeaderText">Trust Grade</h5>
            {% if data['features']['trustgrade'] == "D" or data['features']['trustgrade'] == "E" %} <p
                class="critical ">
                {{data['features']['trustgrade']}}</p>
            {% elif data['features']['trustgrade']== "B" or data['features']['trustgrade']== "C" %} <p
                class="moderate ">
                {{data['features']['trustgrade']}}</p>
            {% elif data['features']['trustgrade']== " "%} <p class="scoreHeaderText">
                Grade
                not
                available</p>
            {% else%} <p class="safe ">
                {{data['features']['trustgrade']}}</p>
            {% endif %}

        </div>
        <div class="col-md-2 col-sm-6">
            <h5 class="scoreHeaderText">Security Score</h5>
            {% if data['features']['securityscore'] <= 40.0 %} <p class="critical ">
                {{data['features']['securityscore']}}</p>
                {% elif data['features']['securityscore']>= 80.0 %} <p class="safe ">
                    {{data['features']['securityscore']}}</p>
                {% else%} <p class="moderate ">
                    {{data['features']['securityscore']}}</p>
                {% endif %}
        </div>
        <div class="col-md-2 col-sm-6">
            <h5 class="scoreHeaderText">Cloud Score</h5>
            {% if data['features']['cloudscore'] <= 3.0 %} <p class="critical ">
                {{data['features']['cloudscore']}}</p>
                {% elif data['features']['cloudscore']>= 15.0 %} <p class="safe ">
                    {{data['features']['cloudscore']}}</p>
                {% else%} <p class="moderate ">
                    {{data['features']['cloudscore']}}</p>
                {% endif %}

        </div>

    </div>
    </div>
    <br>
    <div class="container-fluid allDiv">
        <h4><b>Brand Sentiment Risk</b></h4>
        <br>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-2">
                <h5 class="scoreHeaderText2">Current Sentiment Score</h5>
                <br>
                <p>This represents the global view of your brand. Changes in brand sentiment can precede cyber
                    attacks.</p>
            </div>
            <div class="col-md-2">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">{%if data['BSS'] < 3 or data['BSS']> 7%} <div id="number2" class="numberred">
                                    {{"%.2f"|format(data['BSS'])}}
                                </div>
                                {%else%}
                                <div id="number2" class="numbergreen">
                                    {{ "%.2f"|format(data['BSS'])}}
                                </div>
                                {%endif%}
                        </div>
                    </div>

                    <svg height="160px" width="160px" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <linearGradient id="GradientColor">
                                <stop offset="0%" stop-color="red" />
                                <stop offset="100%" stop-color="red" />
                            </linearGradient>
                        </defs>
                        {%if data['BSS'] < 3 or data['BSS']> 7%}
                            <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round" stroke="red"
                                class="animation" />
                            {%else%}
                            <circle cx="80" cy="80" id="riskwheel" r="70" stroke-linecap="round" stroke="green"
                                class="animation" />
                            {%endif%}

                    </svg>
                </div>
            </div>
            <div class="col-md-8">
                <h5 class="bssheaderText" style="padding-left: 38%;">
                    <t></t>Brand Sentiment Trend
                </h5><br>
                <div class="centrealign" style="width: 100%;"> Graph Data
                    Unavailable
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="parent-container d-flex">
        <div class="container allDiv">
            <h5 class="scoreHeaderText2"><b>Dark Web: CVE Risk Prediction and Severity</b></h5>
            <br>
            <div style="width: 100%;padding-left: 40%; align-items: center;"> Graph Data
                Unavailable
            </div><br>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-12">
                    <h5 class="scoreHeaderText">Predicted Risk Score: {{data["css_score"]}} Risk Severity score:
                        {{data["nvd_score"]}}</h5>
                </div>

            </div>


        </div>
        <br>
        <div class="container allDiv">
            <h5 style="text-align:left"><b>Predicted Trending CVE's</b></h5>
            {% block content %}
            <table id="data" class="hover" style="font-weight: 75px; width:100%">
                <thead style="background-color: #b9c1c9">
                    <tr>
                        <th>
                            <font color="#2e2c2c">CVE Ids</font>
                        </th>
                        <th>
                            <font color="#2e2c2c">Impact</font>
                        </th>
                        <th>
                            <font color="#2e2c2c">Technology</font>
                        </th>
                        <th>
                            <font color="#2e2c2c">Solution</font>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data["CVE"]%}
                    <tr>
                        <td style="color:#a5abb1">{{item["CVE"]}}</td>
                        <td style="color:#a5abb1">{{item["Impact"]}}</td>
                        <td style="color:#a5abb1">{{item["technologies"][0]}}</td>
                        <td style="color:#a5abb1"><a href={{item["link"]}} target="_blank"> Details</td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}



        </div>
    </div>
    </div>
    {% endif %}
    </div>

    </div>

    {% if data and data['success']%}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                "dom": 'rtip',
                paging: true,
                "pageLength": 4,
                ordering: false,
                info: false,
            });
        })


    </script>

    <script>
        let number = document.getElementById("number");
        let counter = 0;
        let val = Number("{{ data['predictions']['probability']}}")
        //console.log(val)
        let stroke_val = Math.round(472 - (472 * val))
        console.log(stroke_val)
        document.documentElement.style.setProperty('--my-stroke-value', stroke_val);
        console.log(val)
        setInterval(() => {
            if (counter === val) {
                clearInterval();
            } else {
                counter += 1;
            }

        }, 30);

    </script>
    <script>
        let number1 = document.getElementById("number1");
        let counter1 = 0;
        let val1 = Number("{{ data['overall_score']}}")
        console.log(val1)
        let stroke_val1 = Math.round(472 - (472 * val1) / 10)
        console.log(stroke_val1)
        document.documentElement.style.setProperty('--my-stroke-value1', stroke_val1);
        console.log(val)
        setInterval(() => {
            if (counter1 === val1) {
                clearInterval();
            } else {
                counter1 += 1;
            }

        }, 30);

    </script>

    <script>
        let number2 = document.getElementById("number2");
        let counter2 = 0;
        let val2 = Number("{{ data['BSS']}}")
        console.log(val2)
        let stroke_val2 = Math.round(472 - (472 * val2) / 10)
        console.log(stroke_val2)
        document.documentElement.style.setProperty('--my-stroke-value2', stroke_val2);
        setInterval(() => {
            if (counter2 === val2) {
                clearInterval();
            } else {
                counter2 += 1;
            }

        }, 30);

    </script>

    {% endif %}

    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>


</body>

</html>